body {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
}

.copyright {
    color: #cccccc;
}

.footer {
    text-align: center;
}

.footer a {
    color: #000000;
}

.sidebar h1 {
    color: #000000;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well{
    background-color:white;
}
.well h1 {
    font-size: 1.3em;
}
.well h1  a{
    color:#000600 ;
}



.author {
    color: #00003D;
}

.author a {
    color: #00003D ;
}

.pagination{
        color: #000000;

}

.sidebar.well ul {
  padding-left: 15px;
}


.sidebar.well a {
  color: #120000 ;
}
