<!-- <div class="sidebar well">
{{ site.description }}
</div> -->

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in site.posts limit:15 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>

<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/_jaimeGuzman" data-widget-id="607740478348488705">Tweets por el @_jaimeGuzman.</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<a href="https://association.drupal.org/membership">
<img alt="Drupal Association Individual Member" src="https://www.drupal.org/sites/all/modules/drupalorg/drupalorg/images/association_ind_member_badge.svg" style="width:60%">
</a>
 
 
<a href="http://ratslabs.io">
	<img alt="CEO Ratslabs" src="http://jguzman.cl/sites/all/themes/jguzman/img/ratslabs.png" style="width:60%">
	</a> 
 

 
